#div1{
    border-radius: 30px;
    border:solid;
    height:700px;
    width: 500px;
    padding: 5px;
    box-align:center;
}

img{
    border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 300px;
}