:root { 
--gray_400:#c4c4c4; 
--gray_500:#999999; 
--blue_700:#366ed8; 
--gray_901:#1c1c1e; 
--gray_902:#1d2120; 
--blue_A700:#0049fc; 
--gray_900:#1c2120; 
--gray_900_7a:#1c1c1e7a; 
--bluegray_100:#d9d9d9; 
--gray_200:#eaeaea; 
--black_900_3f:#0000003f; 
--gray_50:#fafafa; 
--gray_100:#f2f2f2; 
--bluegray_900:#2d3748; 
--indigo_200:#9fb6e3; 
--gray_900_b7:#1c1c1eb7; 
--black_900:#000000; 
--purple_900:#60127d; 
--light_blue_A700:#007aff; 
--deep_purple_A201:#685bff; 
--deep_purple_A200:#7b61ff; 
--white_A700:#ffffff; 
}
